<!-- Los pipes en angular no cambian el valor del objeto, simplemente son modificaciones para la VISUALIZACION -->
<h1 class="mt-3">Pipes <small>Angular</small> </h1>
<hr>
<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Variable</th>
                    <th>Pipe</th>
                    <th>Salida</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> {{nombre}}</td>
                    <td>uppercase</td>
                    <td>{{nombre | uppercase}}</td>
                </tr>
                <tr>
                    <td> {{nombre}}</td>
                    <td>lowercase</td>
                    <td>{{nombre | lowercase}}</td>
                </tr>
                <tr>
                    <td> {{nombre}}</td>
                    <!-- slice corta o elimina de la variable nombre la cantidad de posiciones que le paso como parametro, en este caso 3 posiciones (las primeras 3) -->
                    <td>slice:3</td>
                    <td>{{nombre | slice:3}}</td>
                </tr>
                <tr>
                    <td> {{nombre}}</td>
                    <!-- Corta desde 0 hasta la posicion 3, y me muestra solo esas 3 primeras posiciones, elimina de la posicion 4 en adelante -->
                    <td>slice:0:3</td>
                    <td>{{nombre | slice:0:3}}</td>
                </tr>
                <tr>
                    <td> {{arreglo}}</td>
                    <!-- Tambien funciona con arreglos -->
                    <td>slice:1:5</td>
                    <td>{{arreglo | slice:1:5}}</td>
                </tr>
                <tr>
                    <td> {{PI}}</td>
                    <td>number (Decimal)</td>
                    <td>{{PI | number}}</td>
                </tr>
                <tr>
                    <td> {{PI}}</td>
                    <td>number:'1.0-0'</td>
                    <!-- tengo que colocar los decimales, 0-0 quiere decir que no quiero ningun decimal -->
                    <td>{{PI | number:'1.0-0'}}</td>
                </tr>
                <tr>
                    <td> {{PI}}</td>
                    <td>number:'3.0-0'</td>
                    <!-- quiero 3 posiciones enteras y si el numero es menor lo va a rellenar de ceros adelante -->
                    <td>{{PI | number:'3.0-0'}}</td>
                </tr>
                <tr>
                    <td> {{PI}}</td>
                    <td>number:'.0-2'</td>
                    <!-- toma todos los numeros enteros, y decimales de la posicion 0 a 2 -->
                    <td>{{PI | number:'.0-2'}}</td>
                </tr>
                <tr>
                    <td> {{porcentaje}}</td>
                    <td>percent</td>
                    <!-- el numero 0.234 lo pasa a porcentaje como el tercer digito es <5 pone 23% si fuera = > 5 pondria 24%  -->
                    <td>{{porcentaje | percent}}</td>
                </tr>
                <tr>
                    <td> {{porcentaje}}</td>
                    <td>percent:'2.2-2'</td>
                    <td>{{porcentaje | percent:'2.2-2'}}</td>
                </tr>
                <tr>
                    <td> {{salario }}</td>
                    <td>currency</td>
                    <!-- pone el signo $ adelante y escribe el numero como un precio -->
                    <td>{{ salario | currency}}</td>
                </tr>
                <!-- para cambiar el currency Code porque quiero otra moneda (dolar, euro, etc) existe el estandar ISO4217 esta en google y tiene todos los codigos para cada pais -->
                <tr>
                    <td> {{salario }}</td>
                    <td>currency:'EUR'</td>
                    <td>{{ salario | currency:'EUR'}}</td>
                </tr>
                <tr>
                    <td> {{valorPromesa }}</td>
                    <!-- no aparece nada durante 4 segundos y medio hasta que llega el resolve  -->
                    <td>async</td>
                    <td>{{ valorPromesa | async}}</td>
                </tr>
                <tr>
                    <td> {{fecha}}</td>
                    <td>date</td>
                    <td>{{fecha | date}}</td>
                </tr>
                <tr>
                    <td> {{fecha}}</td>
                    <td>date:'medium'</td>
                    <td>{{fecha | date:'medium'}}</td>
                </tr>
                <tr>
                    <td> {{fecha}}</td>
                    <td>date:'short'</td>
                    <td>{{fecha | date:'short'}}</td>
                </tr>
                <tr>
                    <td> {{fecha}}</td>
                    <td>date:'MMMM - dd'</td>
                    <td>{{fecha | date:'MMMM - dd'}}</td>
                </tr>
                <tr>
                    <td> {{fecha}}</td>
                    <td>date:'MMMM - dd':'':'en'</td>
                    <!-- el idioma por defecto lo configure en espalniol, si quiero que solo esta fecha salga en ingles: -->
                    <td>{{fecha | date:'MMMM - dd':'':'en'}}</td>
                </tr>
                <!-- Pipe PERSONALIZADO: se genera primero en el cmd con el comando> ng g pipe pipes/capitalizado (ruta (carpeta pipes) y el nombre) -->
                <tr>
                    <td> {{nombre2}}</td>
                    <td>capitalizado</td>
                    <!-- capitalizado:true cpitaliza todas las palabras, capitalizado:false capitaliza solo la primera palabra, pero no es necesario ponerle false o true porq en la funcion del pipe ya le puse por defecto que todas -->
                    <td>{{nombre2 | capitalizado:true}}</td>
                </tr>
                <tr>
                    <td> {{nombre}}</td>
                    <td>contrasena:{{activar}}
                        <br>
                        <button (click)="activar = !activar" class="btn btn-outline-primary">
                            Activar/Desactivar
                        </button>
                    </td>
                    <td>{{nombre | contrasena:activar}}</td>
                </tr>
            </tbody>
        </table>

        <hr>
        <br>
        <h4>Slice</h4>
        <ul>
            <!-- estoy mandando el arreglo del 1 al 10, el arreglo contiene solo 10 elementos pero no da error el poner de 5 a 20 si tuviera mas elementos mostraria hasta 20 -->
            <li *ngFor="let item of arreglo | slice:5:20">{{item}}</li>
        </ul>
        <br>
        <hr>
        <h3>JSON</h3>
        <div class="row mb-5">
            <div class="col">
                <!-- cuando aparece [object object] significa que estoy transformando un objeto a su reprecentacion en string -->
                <!-- {{heroe}} -->
                <!-- entonces para ver lo que CONTIENE el objeto uso este pipe -->
                {{heroe | json}}
                <!-- este pipe a veces puede fallar si el objeto tiene algunas funciones o metodos que el pipe no puede interpretar -->
                <br>
                <hr>
                <pre>{{heroe | json}}</pre>
                <!-- la etqueta PRE es de boostrap para que se vea mejor la impresion del objeto -->
            </div>
        </div>
        <br>
        <h3 class="mt-3">Pipe Personalizado: Domseguro</h3>
        <hr>
        <div class="row">
            <div class="col mb-5">
                <iframe width="560" height="315" [src]="videoUrl | domseguro" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>